<div class="my_profile">
<p><h2 style="color:brown"><ins>Edit My Profile</ins></h2></p>
<%= form_for :user, url: user_path(@current_user), method: :patch do |f| %>

<% if @current_user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@current_user.errors.count, "error") %> prohibited
        this User's profile from being saved:
	</h2>
    <ul>
      <% @current_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
     </ul>
 </div>
 <% end %>

<p>
	<%= f.label :First_name %><br>
	<%= f.text_field :First_name %>
</p>
<br>
<p>
	<%= f.label :Last_name %><br>
	<%= f.text_field :Last_name %>
</p>
<br>
<p>
	<%= f.label :Username %><br>
	<%= f.text_field :username %>
</p>

<br>
<p>
	<%= f.submit "Update my profile" %>
</p>
<% end %>

<br><br><br><p><%= link_to 'Back', dashboard_path %></p>

</div>
<div class="change_password">
<h2 style="color:brown"><ins>Change Password</ins></h2>

<%= form_for :user, url: change_password_path, method: :get do |f| %>

<% if @current_user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@current_user.errors.count, "error") %> prohibited
        this User's profile from being saved:
	</h2>
    <ul>
      <% @current_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
     </ul>
 </div>
 <% end %>

 <p>
	<%= f.label :Current_password %><br>
	<%= f.password_field :current_password %>
</p>
<br>
<p>
	<%= f.label :New_password %><br>
	<%= f.password_field :password %>
</p>
<br>
<p>
	<%= f.label :Confirm_new_password %><br>
	<%= f.password_field :confirm_password %>
</p>
<br>
<p>
	<%= f.submit "Change Password" %>
</p>
<% end %>
</div>

