<div>
	<h1 style="color:blue", align="center"><ins>Welcome to Health Care Management System</ins></h1>
</div>

<div>
<br><br>
	<blockquote>
	<h2>Login</h2>

	<%= form_for :user, url: login_path do |f| %>

<p>
	<%= f.label :Username %><br>
	<%= f.text_field :username %>
</p>

<p>
	<%= f.label :Password %><br>
	<%= f.password_field :password %>
</p>

<p>
	<%= f.submit "Login" %>
</p>

<% end %>


<br>New User? <%= link_to 'Sign Up', new_user_path %> here!
</blockquote>
</div>