<div>
	<h1 style="color:blue", align="center"><ins>Welcome to Health Care Management System</ins></h1>
</div>
<blockquote>
<br><br>
<h2>Sign Up</h2>

<div>
<%= form_for @user do |f| %>

<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being signing up:
	</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
     </ul>
 </div>

 <% end %>
 
<p>
	<%= f.label :First_name %><br>
	<%= f.text_field :First_name %>
</p>

<p>
	<%= f.label :Last_name %><br>
	<%= f.text_field :Last_name %>
</p>

<p>
	<%= f.label :Username %><br>
	<%= f.text_field :username %>
</p>

<p>
	<%= f.label :Password %><br>
	<%= f.password_field :password %>
</p>

<p>
	<%= f.label :Confirm_password %><br>
	<%= f.password_field :confirm_password %>
</p>

<p>
	<%= f.submit "Sign Up" %>
</p>

<% end %>

 </div>

<br>Already a User? <%= link_to 'Login', login_path %> here!
</blockquote>