<blockquote><br>
<div><h2>New Medications</h2></div>
<div><br><br>
<table>
<tr>
<%= form_for :medication, url: medications_path do |f| %>
<br>
	<td><p>Drug name:  
    <%#= f.select :drug_name, Drug.pluck(:drug_name) %>
     <%= f.select :drug_id, options_from_collection_for_select(Drug.where(custom_drug: false), :id, :drug_name, nil)+ content_tag(:option,'Other',value: "") %> 
    </p></td>
  
  <td><p>
        Dosage:  <input type="text" size="10" value="" name="dosage[]">
        <select name="dosage[]">
        <option>mg</option>
        <option>ml</option>  
        </select>
    </p></td>
    <td><p>
        Timings:  <%= f.select :timing, ['1 Time', '2 Times', '3 Times', '4 Times'] %> a day
    </p></td>

    <td><p>
      Other drug: <%= f.text_field :custom, size: 20, disabled: :true %></p></td>
</table>
	<br><p align="center"><%= f.submit 'Save' %></p>
<% end %>

</div>
<br>
<br><br><br><br>
<%= link_to 'Back', dashboard_path %>

</blockquote>

<!-- jquery -->
<script>
    $(document).ready(function(){
      $('#medication_drug_id').change(function(){
        a = $(this).val()
        if ( a == '' ){
          $('#medication_custom').prop('disabled', false);
        }
        else {
          $('#medication_custom').prop('disabled', true);
        }
      })
    })
</script>