<h1 style="color:blue", align="center">Welcome User</h1>
<br>Username: <%= @current_user.username %>

<div align="right">
	<%= link_to 'logout', logout_path, method: :post %>
</div>

<div align="left">
	<%= link_to 'user_settings', user_settings_path, method: :get %>
</div>

<div>
<blockquote>
<br><br><br>
<h3><p>Medications: </h3></p>
 
<table>
  <tr>
    <th>Drug name</th>
    <th>Dosage</th>
    <th>Timing</th>
   <!--  <th>Custom Drug</th> -->
    
    <th colspan="4"></th>
  </tr>
 
<% @medications.each do |medication| %>
  <tr>
  	<% if medication.custom_drug.blank? %>
    	<td><%= medication.drug_name %></td>
    <% else %>
    	<td><%= medication.custom_drug %></td>
    <% end %>
    <td><%= medication.dosage %></td>
    <td><%= medication.timing %></td>
    <!-- <td><%= medication.custom_drug %></td> -->
    <td><%= link_to 'Destroy', medication_destroy_path(medication),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
   
  </tr>
<% end %>
</table>

</blockquote>
<br><br>
<p><%= link_to 'Create new medications', new_medications_path, method: :get %></p>
</div> 
