<h1 style="color:red", align="center"><ins>Health Care Management System</ins></h1>
<br><h3 style="color:brown">Welcome <%= @current_user.First_name %> <%= @current_user.Last_name %>!</h3>

<div align="right">
	<%= link_to 'logout', logout_path, method: :post %>
</div>

<div align="left">
	<%= link_to 'My Profile', edit_user_path(@current_user), method: :get %>
</div>

<div>
<blockquote>
<br><br><br>
<strong><p>Medications: </h3></strong>
 
<table>
  <tr>
    <th>Drug name</th>
    <th>Dosage</th>
    <th>Timing</th>
    <th colspan="3"></th>
  </tr>
 
<% @medications.each do |medication| %>
  <tr>
    <td><%= medication.drug.drug_name %></td>
    <td><%= medication.dosage %></td>
    <td><%= medication.timing %></td>
    <td><%= link_to 'Destroy', medication_path(medication),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
   
  </tr>
<% end %>
</table>

<br><br>
<p><%= link_to 'Create new medications', new_medication_path, method: :get %></p>
</div> 

</blockquote>
