<h1 style="color:blue", align="center"><ins>Welcome User</ins></h1>
<br><h3>Hello <%= @current_user.First_name %> !</h3>

<div align="right">
	<%= link_to 'logout', logout_path, method: :post %>
</div>

<div align="left">
	<%= link_to 'user_settings', user_settings_path, method: :get %>
</div>

<div>
<blockquote>
<br><br><br>
<strong><p>Medications: </h3></strong>
 
<table>
  <tr>
    <th>Drug name</th>
    <th>Dosage</th>
    <th>Timing</th>
   <!--  <th>Custom Drug</th> -->
    
    <th colspan="3"></th>
  </tr>
 
<% @medications.each do |medication| %>
  <tr>
  	<% if medication.try(:drug).try(:drug_name) == 'Other' %>
  		<td><%= medication.custom_drug %>
  	<%# if medication.custom_drug.blank? %>
    	<!-- <td><%= medication.drug_name %></td> -->
    <% else %>
    	<td><%= medication.try(:drug).try(:drug_name) %></td>
    	<!-- <td><%= medication.custom_drug %></td> -->
    <% end %>
    <td><%= medication.dosage %></td>
    <td><%= medication.timing %></td>
    <!-- <td><%= medication.custom_drug %></td> -->
    <td><%= link_to 'Destroy', medication_path(medication),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
   
  </tr>
<% end %>
</table>

</blockquote>
<br><br>
<p><%= link_to 'Create new medications', new_medication_path, method: :get %></p>
</div> 
